build_output/*
build_artifacts/*
doc/build/*

*.suo
*.user
packages
*.dotCover
*.dotSettings

bin
obj
_ReSharper*

*.ReSharper
*.cache
*~
*.swp
*.bak
*.orig

.fake

# osx noise
.DS_Store
Gemfile.lock

restore.dg
*project.lock.json
/src/NewId.Tests/TestResult.xml
